<html>
<head>
</head>
<body>
    <form name="addUserForm" action="">
        <label>First Name</label>
        <input type="text" class="span3" name="firstName" id="firstName"/>
        <label>Last Name</label>
        <input type="text" class="span3" name="lastName" id="lastName"/>
        <label>Phone</label>
        <input type="text" class="span3" name="phone" id="phone"/>
        <label>Address</label>
        <input type="text" class="span3" name="address" id="address"/>
        <label>Zip</label>
        <input type="text" class="span3" name="zip" id="zip"/>
        <button type="submit" class="btn" id="addUserBtn">Submit</button>
    </form>
</body>
</html>
                            